<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=FROST-PD10\MSSQLPD10;Initial Catalog=master;User ID=sa;Password=97" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HrmServiceHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://oa.tqlsgroup.com:8080//services/HrmService"
        binding="basicHttpBinding" bindingConfiguration="HrmServiceHttpBinding"
        contract="OAHrmServiceReference.HrmServicePortType" name="HrmServiceHttpPort" />
    </client>
  </system.serviceModel>
</configuration>