<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
<appSettings>
  <add key="qyhCorpID" value="wx811b855e73c9b606"/>
  <add key="qyhSecret" value="4xeie0dmaC7BqV60WyoBjyEFu5nMhFzbhGcRL2XNh9Rem0HdLzAsq5dPBJa54D_o"/>
</appSettings>
</configuration>
