@model WebApplicationMVC.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>ReturnForm</title>
</head>
<body>
    @using (Html.BeginForm()) {
       @Html.ValidationSummary()
        <p>姓名：@Html.TextBoxFor(x => x.Name)</p>
        <p>电子邮件：@Html.TextBoxFor(x => x.Email)</p>
        <p>电话号码：@Html.TextBoxFor(x =>x.Phone)</p>
        <p>
            是否会到场？
            @Html.DropDownListFor(x => x.WillAttend, new[] {
           new SelectListItem() {Text="当然，准时到达。",Value = bool.TrueString },
           new SelectListItem() {Text="不行，来不了。",Value=bool.FalseString },
           }, "请选择")
        </p>
        <p>测试：@Html.TextBox("Name")</p>
        <input type="submit"  value="保存" />
    }
    <div> 
    </div>
</body>
</html>
